@page
@model Box_To_AWS_Button.Pages.boxModel
<!-- Section: Split screen -->
@*<section class="">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 vh-100 ">


            </div>
            <div class="col-lg-6 vh-100 bg-secondary">
            </div>
        </div>
    </div>

</section>*@


<!-- Section: Split screen -->

<section class="h-100 " style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 10px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5" style="color: gray;">Box Deatils</h3>


                                    @*<div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Title</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                        </select>
                                    </div>*@

                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                <label class="form-label" for="form3Examplev2">Box Id</label>
                                                <input type="text" id="boxid" class="form-control form-control-lg" />
                                               
                                            </div>

                                        </div>
                                      
                                    </div>

                                    @*<div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Position</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                        </select>
                                    </div>
*@
                                    <div class="mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="form3Examplev4">Box Secret Key</label>
                                            <input type="text" id="boxSecretkey" class="form-control form-control-lg" />
                                           
                                        </div>
                                    </div>

                                    <div class="row">
                                        @*<div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                                            <div class="form-outline">
                                                <input type="text" id="form3Examplev5" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplev5">Bussines Arena</label>
                                            </div>

                                        </div>*@
                                        <div class="col-md-6">

                                            <select class="select">
                                                <option value="1">File</option>
                                                <option value="2">Folder</option>
                                                
                                            </select>
                                            <label class="form-label select-label">Choose Type</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 bg-indigo text-white">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5">AWS Details</h3>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="form3Examplea2">Access Key</label>
                                            <input type="text" id="accesskey" class="form-control form-control-lg" />
                                           
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="form3Examplea3">Sceret Key</label>
                                            <input type="text" id="sceretkey" class="form-control form-control-lg" />
                                            
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 mb-4 pb-2">

                                            <div class="form-outline form-white">
                                                <label class="form-label" for="form3Examplea4">AWS Bucket Name</label>
                                                <input type="text" id="bucketname" class="form-control form-control-lg" />
                                                
                                            </div>

                                        </div>
                                       @* <div class="col-md-7 mb-4 pb-2">

                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea5" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplea5">Place</label>
                                            </div>

                                        </div>*@
                                    </div>

                                    @*<div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                            <input type="text" id="form3Examplea6" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea6">Country</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 mb-4 pb-2">

                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea7" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplea7">Code +</label>
                                            </div>

                                        </div>
                                        <div class="col-md-7 mb-4 pb-2">

                                            <div class="form-outline form-white">
                                                <input type="text" id="form3Examplea8" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Examplea8">Phone Number</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <div class="form-outline form-white">
                                            <input type="text" id="form3Examplea9" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea9">Your Email</label>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                        <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                                        <label class="form-check-label text-white" for="form2Example3">
                                            I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                                            site.
                                        </label>
                                    </div>
*@
                                    <div class="text-end">
                                    <button type="button" class="btn btn-light"
                                            data-mdb-ripple-color="dark">
                                        Submit Here
                                    </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      @*  <div class="text-xl-center">
            <a href="#" class="btn btn-secondary btn-lg active" data-mdb-ripple-init role="button" aria-pressed="true">Here Submit</a>
           @* <button type="button" class="btn btn-secondary" data-mdb-ripple-init>Here Submit</button>
        </div>*@
    </div>
    
</section>
