@page
@model Box_To_AWS_Button.Pages.Box_PageModel
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100 w-max">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Box Data Details</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="Box_id">Box Id</label>
                                        <input type="text" id="boxid" class="form-control form-control-lg" />
                                        
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="b_Name">Bucket Name</label>
                                        <input type="text" id="bucketname" class="form-control form-control-lg" />
                                        
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                 <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">

                                    <select class="select form-control-lg">
                                        <option value="1" disabled>Choose option</option>
                                        <option value="2">File</option>
                                        <option value="3">Folder</option>
                                        
                                    </select>
                                    <label class="form-label select-label">Choose Type</label>

                                </div>
                                </div>

                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                        <label class="form-label" for="secr_key">Secret Key</label>
                                            <input type="tel" id="secretkey" class="form-control form-control-lg" />
                                            
                                        </div>

                                    </div>
                                                           </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    
                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="F_path">Folder Path</label>
                                        <input type="tel" id="Folderpath" class="form-control form-control-lg" />
                                        
                                    </div>

                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg btn-center" type="submit" value="Submit" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
