@page
@model Box_To_AWS_Button.Pages.Function_HomeModel

<div>
    <img src="https://www.studiorepublic.com/wp-content/uploads/2023/02/iStock-1227575910.png" class="img-fluid" alt="Wild Landscape" style="Height:max; width:max" />

    <div class="text-center">
        <a class="nav-link text-dark  " asp-area="" asp-page="/Box_Page">Box Page</a>
    </div>
</div>