@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="text-center">
        <a class="nav-link text-dark  " asp-area="" asp-page="/Function_Home">Operation</a>
    </div>

    
</div>
